{% extends 'base.html.twig' %} 

{% block stylesheets %} 

  {{ parent() }}

  <link rel="stylesheet" href="{{ asset('css/ellipsis.css') }}"> 
  <link rel="stylesheet" href="{{ asset('css/main.css') }}">
  <link rel="stylesheet" href="{{ asset('css/deadlines.css') }}"> 

{% endblock %} 

{% block body %}
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto" style="color:black">
            <div class="row">
                <div class="col-lg-10 mx-auto" style="text-align: justify">
                    <h1 class="text-uppercase">
                <strong>
                    <b>Z nami zdasz<br/>każdy egzamin</b>
                </strong>
                </h1>
                    <p class="text-faded mb-5">Wybierz specjalizacje poniżej i sprawdź swoja wiedzę</p>
                </div>
                <div class="col-lg-8 mx-auto" style="margin-top:15px">
                    <a class="btn-nav js-scroll-trigger btn-main" href="#egzaminy">Znajdź swój egzamin</a>
                </div>
            </div>
        </div>
    </header>

    <article class="container" id="egzaminy">
        <section>
            <h1 class="title">wybierz Swój kierunek</h1>
            <p class="description">
                ...spośród 8 dostępnych. Nasza baza pytań oraz zawodów jest wciąż poszerzana,
                <br/> więc jeśli nie ma wojego kierunku, pojawi się on w przyszłości!
            </p>
        </section>
        <div class="jobs">

            <div class="row" id="search-row">
                <div class="col-md-12">
                    <input class="form-control py-2" type="search" placeholder="wpisz nazwę zawodu" id="search" autocomplete="off">
                </div>
            </div>

            <div id="ellipsis-container">
                <div class="lds-ellipsis">
                    <div></div><div></div><div></div><div></div>
                </div>
            </div>

            <div class="row">
                <div class="col-12" id="not-found-message">
                    <div class="alert alert-danger">
                        Brak wyników wyszukiwania
                    </div>
                </div>

                <div class="col-12" id="not-enough-letters-message">
                    <div class="alert alert-danger">
                        Musisz wpisać co najmniej 3 znaki
                    </div>
                </div>
            </div>

            <div id="search-group">
                <h1>Wyniki wyszukiwania<h1>
                <div id="search-container"></div>
            </div>

        </div>
        
    </article>

    <article class="container">
        <section>
            <h1 class="title">lista wszystkich dostępnych zawodów</h1>
        </section>
        <div class="jobs">

            {% for stage in stages %}
                <div class="job-container">
                    <div class="job-img-container">
                        <a href="{{ path('stage', {'id': stage.id, 'friendly_url': stage.friendly_url}) }}">
                            <img class="job-img" src="{{ asset('uploads/stage/'~stage.image_name) }}" alt="Wybierz kategorie">
                        </a>
                    </div>
                    <div class="job-info">
                        <h3 class="info-title">
                        <a href="{{ path('stage', {'id': stage.id, 'friendly_url': stage.friendly_url}) }}">{{ stage.designation }}</a>
                    </h3>
                        <div class="info-text">{{ stage.stages_quantity }} kwalifikacje</div>
                        <div class="info-text">{{ stage.qualification_quantity }} pytań w bazie</div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            {% endfor %}

        </div>
        
    </article>

    {% include 'home_page/deadlines.html.twig' %}

    {% include 'home_page/contact.html.twig' %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    
    <script src="{{ asset('js/ajax_search.js') }}"></script>

{% endblock %}