{% extends 'base.html.twig' %}

{% block title %}{{ stage_name }} - Kwalifikacja {{ qualification.designation }}{% endblock %} 
{% block metaDescription %}Wylosuj {{ question_quantity }} pytań. {{ qualification.metaDescription }}{% endblock %} 

{% block stylesheets %} 
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/checkboxes.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/page-layout-helpers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/universal.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/exam.css') }}"> 
{% endblock %} 

{% block body %}

    {# ------ Breadcrumb -------- #}
    <nav aria-label="breadcrumb" id="breadcrumb-nav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home_page') }}">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="{{ path('stage', {'id': stage_id, 'friendly_url': friendly_stage_url}) }}">{{ stage_name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kwalifikacja {{ qualification.designation }}</li>
        </ol>
    </nav>
    {# ------ End breadcrumb -------- #}

    <section class="qualification-title-container">
        <h1 class="qualification-title left-white-space">Kwalifikacja {{ qualification.designation }} - {{ qualification.description }}</h1>
    </section>

    <form id="exam-form" method="POST" action="{{ path('check_exam', {'friendly_stage': friendly_stage_url}) }}">
        <div class="left-white-space">
            <div style="margin-top: 5px">Kliknięcie spowoduje pokazanie pytania.</div>
            <div id="questions-panel">
                {% for question in questions %} 
                    {% if loop.index0 % 2 == 0 %}
                        <div class="column">
                    {% endif %}
                        <div data-question-number="{{ loop.index0 }}" data-is-filled="false" class="square {% if loop.index0 == 0 %} square-active{% else %} square-empty{% endif %}"></div>
                    {% if (loop.index % 2 == 0 and loop.index != 0) %}
                        </div>
                    {% endif %} 
                {% endfor %} 
                {% if questions|length % 2 == 1 %}
                        </div>
                {% endif %}
                <p id="quick-view"></p>
                <div class="floating-cleaner"></div>
            </div>

            <div id="question-group-container">
                {% for question in questions %}
                    <section class="question-group" {% if loop.index==1 %} style="display:block" {% endif %}>
                        <p class="text-faded text-before-devider">pytanie {{ loop.index }} z {{ question_quantity }}</p>
                        <div class="devider exam-devider"></div>

                        <h2 style="font-size: 18px;">{{ loop.index }}. <span class="query">{{ question.query|raw|e('html')|e('js') }}</span></h2>
                        
                        <div class="row">
                            <div class="answers-group col-lg-{% if question.imageName %}6{% else %}12{% endif %}" data-question-number="{{ loop.index0 }}">
                                <input type="hidden" class="user_answer" name="answers[{{ loop.index0 }}]">

                                <div class="column question-panel-margin">
                                    <div class="checkbox-group answer" data-value="1">
                                        <div class="checkbox"></div>
                                        <div class="checkbox-label">{{ question.answerA|raw|e('html')|e('js') }}</div>
                                    </div>
                                    <div class="checkbox-group answer" data-value="2">
                                        <div class="checkbox"></div>
                                        <div class="checkbox-label">{{ question.answerB|raw|e('html')|e('js') }}</div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="checkbox-group answer" data-value="3">
                                        <div class="checkbox"></div>
                                        <div class="checkbox-label">{{ question.answerC|raw|e('html')|e('js') }}</div>
                                    </div>
                                    <div class="checkbox-group answer" data-value="4">
                                        <div class="checkbox"></div>
                                        <div class="checkbox-label">{{ question.answerD|raw|e('html')|e('js') }}</div>
                                    </div>
                                </div>
                            </div>

                            {% if question.imageName %}
                                <div class="col-lg-6">
                                    <img class="img-fluid" style="margin-top:15px;" src="{{ asset('uploads/exams/'~question.imageName) }}" alt="Nie udało się załadować zdjęcia">
                                </div>
                            {% endif %}
                        </div>
                    </section>
                {% endfor %}
                <div class="floating-cleaner"></div>
            </div>
        </div>

        <div id="errors-container" class="left-white-space"></div>

        <div class="bottom-btn-container">
            <div id="next-question" class="btn-nav center-btn">Następne pytanie</div>
            <input type="submit" class="btn-nav right-btn" value="Sprawdź test">
        </div>
    </form>
{% endblock %} 

{% block javascripts %} 
    {{ parent() }}

    <script src="{{ asset('js/exam.js') }}"></script>
{% endblock %}