<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Egzaminy zawodowe{% endblock %}</title>
		<meta name="description" content="
		{% block metaDescription %}Wybierz swój kierunek i rozwiązuj testy online za darmo. 
			Skorzystaj z naszej bazy ponad 55000 pytań!. 
			Spraw aby nadchodzący egzamin był bezstresowy!{% endblock %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
			<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700&amp;subset=latin-ext" rel="stylesheet"> 
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
			<link href="{{ asset('css/creative.css') }}" rel="stylesheet">
			<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"> 
			<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    {% endblock %}

  </head>
  <body>	
		{% include 'navigation.html.twig' %}
    <main>
			{% block body %}{% endblock %}
		</main>
		{% include 'footer/footer.html.twig' %}

    {% block javascripts %}
			<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
			<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
			<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
			<script src="{{ asset('vendor/scrollreveal/scrollreveal.min.js') }}"></script>
			<script src="{{ asset('js/creative.js') }}"></script>
		{% endblock %}
    </body>
</html>
