<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Egzaminy zawodowe - darmowe testy online.{% endblock %}</title>
		<meta name="description" content="
		{% block metaDescription %}Wybierz swój kierunek i rozwiązuj testy online za darmo. 
			Skorzystaj z naszej bazy ponad 55000 pytań i 137 różnych zawodów!. 
			Spraw aby nadchodzący egzamin był bezstresowy!{% endblock %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
			<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&amp;subset=latin-ext" rel="stylesheet"> 
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin-ext" rel="stylesheet">
			<link href="{{ asset('css/creative.css') }}" rel="stylesheet">
			<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"> 
			<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    {% endblock %}

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135283511-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-135283511-1');
		</script>

		<link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">

		<link rel="icon" href="/images/favicon.png">

  </head>
  <body>	
		{% include 'navigation.html.twig' %}
    <main>
			{% block body %}{% endblock %}
		</main>
		{% include 'footer/footer.html.twig' %}

    {% block javascripts %}
			<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
			<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
			<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
			<script src="{{ asset('vendor/scrollreveal/scrollreveal.min.js') }}"></script>
			<script src="{{ asset('js/creative.js') }}"></script>
		{% endblock %}
    </body>
</html>
