{% extends 'base.html.twig' %} 

{% block title %}{{ stage.designation }} - Wybierz kwalifikacje{% endblock %} 
{% block metaDescription %}{{ stage.metaDescription }}{% endblock %}

{% block stylesheets %} 
  {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/checkboxes.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/page-layout-helpers.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/qualification.css') }}" /> 
{% endblock %} 

{% block body %}

    {# ------ Breadcrumb -------- #}
    <nav aria-label="breadcrumb" id="breadcrumb-nav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home_page') }}">Strona główna</a></li>
            <li class="breadcrumb-item active">{{ stage.designation }}</li>
        </ol>
    </nav>
    {# ------ End breadcrumb -------- #}

    <section class="qualification-title-container">
        <h1 class="left-white-space qualification-title">{{ stage.designation }}</h1>
    </section>
    
    <form id="qualification-form" method="GET" action="{{ path('redirect_exam', {'stage_id': stage.id, 'friendly_stage_url': stage.friendlyUrl}) }}">
        <section class="qualification-choose-stage-container">
            <h4 class="text-faded under-title left-white-space">wybierz swoją kwalifikacje</h4>
            <article id="qualifications" class="left-white-space">

                <input name="qualification_id" id="qualification-id" class="user-input" type="hidden">

                {% for qualification in qualifications %}
                    {# Generate hidden links for google bot #}
                    <div hidden>
                        <a href="{{ path('generate_exam', {'stage_id': stage.id, 'question_quantity': 5, 'friendly_stage_url': stage.friendlyUrl, 'qualification_id': qualification.id, 'friendly_qualification_url': qualification.friendlyUrl}) }}"></a>
                        <a href="{{ path('generate_exam', {'stage_id': stage.id, 'question_quantity': 10, 'friendly_stage_url': stage.friendlyUrl, 'qualification_id': qualification.id, 'friendly_qualification_url': qualification.friendlyUrl}) }}"></a>
                        <a href="{{ path('generate_exam', {'stage_id': stage.id, 'question_quantity': 20, 'friendly_stage_url': stage.friendlyUrl, 'qualification_id': qualification.id, 'friendly_qualification_url': qualification.friendlyUrl}) }}"></a>
                        <a href="{{ path('generate_exam', {'stage_id': stage.id, 'question_quantity': 40, 'friendly_stage_url': stage.friendlyUrl, 'qualification_id': qualification.id, 'friendly_qualification_url': qualification.friendlyUrl}) }}"></a>
                    </div>

                    <div class="checkbox-group qualifcation" data-value="{{ qualification.id }}">
                        <div class="checkbox"></div>
                        <div class="checkbox-label">Kwalifikacja {{ qualification.designation }}</div>
                    </div>
                {% endfor %}
                <div class="floating-cleaner"></div>
            </article>
        </section>

        <section class="form-question-quantity left-white-space">
            <div class="devider"></div>
            <h4 class="text-faded under-title">oraz ilość pytań</h4>
            <article id="questions-quantity">

                <input name="question_quantity" id="question-quantity" class="user-input" type="hidden">

                <div class="checkbox-group" data-value="5">
                    <div class="checkbox"></div>
                    <label class="checkbox-label">5 pytań</label>
                </div>
                <div class="checkbox-group" data-value="10">
                    <div class="checkbox"></div>
                    <label class="checkbox-label">10 pytań</label>
                </div>
                <div class="checkbox-group" data-value="20">
                    <div class="checkbox"></div>
                    <label class="checkbox-label">20 pytań</label>
                </div>
                <div class="checkbox-group" data-value="40">
                    <div class="checkbox"></div>
                    <label class="checkbox-label">40 pytań</label>
                </div>
                <div class="floating-cleaner"></div>
            </article>
        </section>

        <div id="errors-container" class="left-white-space"></div>

        <div class="bottom-btn-container" style="height:80px">
            <input type="submit" class="btn-nav middle-button" value="Rozpocznij test">
        </div>
    </form>

{% endblock %}

{% block javascripts %} 
  {{ parent() }}

  <script src="{{ asset('js/qualifications.js') }}"></script>
{% endblock %}